<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dash.css">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/8d3edbfe1f.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon_menu">
            <i class="fa-solid fa-bars" id="btn_open"></i>
        </div>
    </header>

    
    <div class="menu_side" id="menu_side">

        <div class="name_page">
            <!-- <h2>UNIVERSIDAD</h2> -->
        </div>

        <div class="option_menu">

            <a href="#" class="selected">
                <div class="option">
                    <i class="fa-solid fa-house-chimney" title="Inicio"></i> 
                    <h4>Inicio</h4>
                </div>
            </a>
    
            <a href="crud.html">
                <div class="option">
                    <i class="fa-solid fa-screwdriver-wrench" title="Gestionar datos"></i>
                    <h4>Gestionar</h4>
                </div>
            </a>
    
            <a href="notas.html">
                <div class="option">
                    <i class="fa-solid fa-file-arrow-up" title="Subir notas"></i>
                    <h4>Subir notas</h4>
                </div>
            </a>
    
            <a href="materias.html">
                <div class="option">
                    <i class="fa-solid fa-address-book" title="Ver materias"></i>
                    <h4>Ver materias</h4>
                </div>
            </a>
    
            <a href="index.html">
                <div class="option">
                    <i class="fa-solid fa-right-from-bracket" title="Regresar al inicio"></i>
                    <h4>Salir</h4>
                </div>
            </a>
        </div>
    </div>
    <main>
        <div class="con_perfil">
            <div class="con_img_perfil">
                <div class="img_perfil">
                    <!-- <img src="../img/perfil_img.jpg" alt=""> -->
                </div>
                <div class="header_perfil">
                    <h1>NOMBRE DEL USUARIO XD</h1>
                    <h2>TIPO DE PERFIL</h2>
                </div>
            </div>
            <div class="text_perfil">
                <div class="body_perfil">
                    <button class="btn_notas">Notas</button>
                </div>
            </div>
        </div>
    </main>
    

<script src="../js/dash.js"></script>
    

</body>
</html>