<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <!-- NAVBAR -->

    <nav class="menu encima">
        <section class="menu_contenedor">
            <h2>UNIVERSIDAD</h2>
            <!-- LISTA INICIO -->
            <ul class="menu_links">
                <li class="menu_item"><a class="menu_link" href="#">Inicio</a></li>
                <!-- MENU INGRE$SAR CON SUBMENU -->
                <li class="menu_item menu_item-show"><a class="menu_link" href="#">Ingresar<img class="menu_arrow"
                            src="../assets/arrow.svg" alt=""></a>
                    <!-- SUBMENU -->
                    <ul class="menu_nesting menu_item-show">
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="login.html">Iniciar sesión</a></li>
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="">Registrarse</a></li>
                    </ul>
                </li>
                <!-- MENU PROGRAMAS -->
                <li class="menu_item menu_item-show"><a class="menu_link" href="#">Programas<img class="menu_arrow"
                            src="../assets/arrow.svg" alt=""></a>
                    <!-- SUBMENU -->
                    <ul class="menu_nesting">
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="#">Pregrado</a></li>
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="#">Posgrado</a></li>
                    </ul>
                </li>
                <!-- MENU INVESTIGACION -->
                <li class="menu_item menu_item-show"><a class="menu_link" href="#">Investigación<img class="menu_arrow"
                            src="../assets/arrow.svg" alt=""></a>
                    <!-- SUBMENU -->
                    <ul class="menu_nesting">
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="#">Entrar a semilleros</a>
                        </li>
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="#">Ver los semilleros</a>
                        </li>
                        <li class="menu_inside"><a class="menu_link menu_link-inside" href="#">Información de
                                semilleros</a></li>
                    </ul>
                </li>
                <!-- MENU NOSOTROS -->
                <li class="menu_item"><a class="menu_link" href="#">Nosotros</a></li>
            </ul>
            <div class="menu_ham">
                <img src="../assets/menu.svg" class="menu_img">
            </div>
        </section>


    </nav>
    <header class="header">
        <div class="titulo_uni">
            <h1>Bienvenido a la universidad</h1>
        </div>
        <div class="par_uni">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus ipsa tempora quia provident eos repellat unde suscipit fugiat tenetur. Ducimus est quidem molestiae possimus corporis quasi perspiciatis itaque corrupti.</p>
        </div>
        <div class="wave">
            <svg class="svg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f3f4f5" fill-opacity="1"
                    d="M0,320L48,272C96,224,192,128,288,112C384,96,480,160,576,197.3C672,235,768,245,864,218.7C960,192,1056,128,1152,117.3C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </div>
    </header>

    <main>
        <div class="main_titulo">
            <h1>CONVIERTETE EN EL PROFESIONAL QUE QUIERES SER</h1>
        </div>

        <div class="contededor_main">
            <div class="main_parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus saepe itaque corrupti in veniam, amet at laudantium ex iusto animi eveniet odio, ipsa, nostrum sed numquam ullam nihil voluptatum ipsum.
                Inventore, nobis praesentium? Minima commodi, dolore veritatis, quaerat cumque quasi eos deserunt accusamus, pariatur magnam praesentium eaque. Nihil, dolorum officiis odit delectus voluptate iusto, aut consequuntur facere quia, libero sapiente?</p><br><br>
                <h2>Somos lideres destacados en carreras relacionadas a la ingeniería, medicina y contaduría.</h2>
            </div>
            <div class="main_imgs">
                <div class="main_img1">
                </div>
                <div class="main_img2">
                </div>
                <div class="main_img3">
                </div>
                <div class="main_img4">
                </div>
            </div>
        </div>

        <div class="main_egresados">
            <div class="egre_titulo">
                <h2>Estos son algunos de nuestros egresados</h2>
            </div>
            <div class="egre_imgs_tar">
                <div class="tar_img1">
                    <div class="tar_head1">

                    </div>
                    <div class="tar_body1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam, corporis deleniti soluta pariatur distinctio omnis corrupti consectetur obcaecati sequi. Voluptate, consequatur veniam! Sequi corporis ratione earum, vel fugiat ut!</p>
                    </div>
                </div>

                <div class="tar_img1">
                    <div class="tar_head1">

                    </div>
                    <div class="tar_body1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam, corporis deleniti soluta pariatur distinctio omnis corrupti consectetur obcaecati sequi. Voluptate, consequatur veniam! Sequi corporis ratione earum, vel fugiat ut!</p>
                    </div>
                </div>

                <div class="tar_img1">
                    <div class="tar_head1">

                    </div>
                    <div class="tar_body1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam, corporis deleniti soluta pariatur distinctio omnis corrupti consectetur obcaecati sequi. Voluptate, consequatur veniam! Sequi corporis ratione earum, vel fugiat ut!</p>
                    </div>
                </div>

                <div class="tar_img1">
                    <div class="tar_head1">

                    </div>
                    <div class="tar_body1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam, corporis deleniti soluta pariatur distinctio omnis corrupti consectetur obcaecati sequi. Voluptate, consequatur veniam! Sequi corporis ratione earum, vel fugiat ut!</p>
                    </div>
                </div>

                <div class="tar_img1">
                    <div class="tar_head1">

                    </div>
                    <div class="tar_body1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam, corporis deleniti soluta pariatur distinctio omnis corrupti consectetur obcaecati sequi. Voluptate, consequatur veniam! Sequi corporis ratione earum, vel fugiat ut!</p>
                    </div>
                </div>

                <div class="tar_img1">
                    <div class="tar_head1">

                    </div>
                    <div class="tar_body1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam, corporis deleniti soluta pariatur distinctio omnis corrupti consectetur obcaecati sequi. Voluptate, consequatur veniam! Sequi corporis ratione earum, vel fugiat ut!</p>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <section class="sec1">
        <div class="wave2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f3f4f5" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,154.7C384,171,480,181,576,165.3C672,149,768,107,864,85.3C960,64,1056,64,1152,69.3C1248,75,1344,85,1392,90.7L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
              </svg>
        </div>

        <div class="titulo_uni" style="padding-top: 8em;">
            <h1>¡Siguenos en las redes sociales!</h1>
        </div>

        <div class="con_social">
            <div class="social-buttons" style="margin-top: 1em;">
                <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                  <h1>FB</h1>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                    <h1>LK</h1>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--snapchat" aria-label="SnapChat">
                    <h1>SNT</h1>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
                    <h1>GIT</h1>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--codepen" aria-label="CodePen">
                    <h1>CDN</h1>
                </a>
              </div>
        </div>

        <div class="wave">
            <svg class="svg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f3f4f5" fill-opacity="1"
                    d="M0,320L48,272C96,224,192,128,288,112C384,96,480,160,576,197.3C672,235,768,245,864,218.7C960,192,1056,128,1152,117.3C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </div>
    </section>

    <section class="sec2">
        <div class="main_titulo">
            <h1>ECHA UN VISTAZO A NUESTRAS INSTALACIONES</h1><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero molestias aliquam, officia, dicta assumenda voluptas alias soluta necessitatibus debitis quidem ab eius ipsum, reiciendis deserunt facere hic nesciunt illo!
            Recusandae commodi voluptas autem placeat accusantium voluptates quaerat iure quod quam sed, est et consequuntur maiores voluptatibus iste, magnam illo necessitatibus cupiditate at porro dicta corporis veritatis. Nihil, maiores quas.</p><br>
        </div>

        <div class="video_int">
           <!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/7fwUH0oRmkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
    </section>

    <footer>

        <div class="con_footer">
            <div class="footer_1">
                <div class="p_1">
                    <h2>Contacto</h2>
                    <p><b>Telefono</b>+57 2344324252 <br>
                    <b>Dirección: </b><br>
                        Después de la seguda estrealla, todo recto hasta el amanecer. <br>
                        <b>Correo</b> JAJA@gmail.com <br>
                        <b>Contacto externo</b><br>
                        No tengo idea de qué es eso :(
                    </p>
                </div>
                <div class="p_2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vero veritatis sed asperiores rem, et aliquam in esse quaerat officiis veniam! Eaque quibusdam architecto molestias minus cumque possimus commodi quo!</p>
                </div>
                <div class="p_3"><h2>Contacto</h2>
                    <p><b>Telefono</b>+57 2344324252 <br>
                    <b>Dirección: </b><br>
                        Después de la seguda estrealla, todo recto hasta el amanecer. <br>
                        <b>Correo</b> JAJA@gmail.com <br>
                        <b>Contacto externo</b><br>
                        No tengo idea de qué es eso :(
                    </p></div>
            </div>

            <div class="footer_2">
                <p>
                <b>©copyright:</b> Esta institución es GOD y las demás son zZz
                </p> 
            </div>
        </div>

    </footer>
    
    <script src="../js/menu.js"></script>
</body>

</html>