<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/login.css"> -->
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="contenedor">
        <div class="con_login">
            <div class="logo_login">

            </div>
            <div class="form_login">
                <form action="dash.html">
                    <!-- ROW 1 -->
                    <div class="titulo_form">
                        <h1>Inicio de sesión</h1>
                    </div>
                    <!-- ROW 2 -->
                    <div class="inputs_form">
                        <label for="usuario">Ingresa tu usuario</label>
                        <input class="i_usu" type="text" name="usuario" id="">

                        <label for="contraseña">Ingresa tu contraseña</label>
                        <input class="i_pass" type="password" name="contraseña" id="">
                    </div>
                    <!-- ROW 3 -->

                    <div class="botones_redes">
                        <button class="btn_google"><img src="../assets/google.svg" alt="">Iniciar con google</button>
                        <button class="btn_face"><img src="../assets/facebook.svg" alt="">Iniciar con facebook</button>
                    </div>

                    <!-- ROW 4 -->

                    <div class="a_form">
                        <p>¿Aún no tienes cuenta? <a href="#">¡Registrate aquí!</a></p>
                    </div>

                    <!-- ROW 5 -->

                    <div class="iniciar_sesion">
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>